<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FBBCS" connectionString="Server=CM-HOME\SQLEXPRESS;Database=FBB;User Id=BBUser;Password=BBUser123;"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
